.post {
    width: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.postAva {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-right: 20px;
}

.post div {
    width: 120px;
    word-break:break-all
}