.navbar {
    width: 15%;
    background-color: #0a2154;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar img {
    width: 80%
}

.activeLink {
    color: #00ff0d;
    background-color: green;
}