body {
    overflow-x: hidden
}

.App {
    display: flex;
    /*flex-wrap: wrap;*/
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.underHeader {
    display: flex;
    /*width: 70%;*/
    background-color: #36e9ef;
    /*min-height: calc(100vh - 100px);*/

    flex: 1
}

.content {
    flex: 7;
}

@media screen and (max-width: 650px) {
    .underHeader {
        flex-direction: column;
    }
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 15%;*/
    background: linear-gradient(30deg, #5d7bbe,#0a2154);
    padding: 10px;
    flex: 1
}

.aside p {
    background-color: #39bb40;
}



