.dialogs {
    flex: 4;
    padding: 10px;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.dialogsItem {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
}

.dialogsItem a {
    background: linear-gradient(0deg,#6c6b6b,black);
}

.dialogsItem a:hover {
    background: linear-gradient(0deg, #a9a9a9, #444343);
}

.dialogsItem img {
    height: 50px;
}

.message {
    height: 30px;
    background: #a7b7b4;
    margin-top: 10px;
}